body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

.checkbox {
	display: inline-block;
	vertical-align: top;
	padding-left: 25px;
	position: relative;
  }
  
  .checkbox input {
	position: absolute;
	left: 0;
	top: 0;
  }

  .column {
	float: left;
	width: 50%;
  }
  
  .row:after {
	content: "";
	display: table;
	clear: both;
  }

  li { 
	font-weight: normal;
  }

  .bold {
	font-weight: bolder;
  }

  .block {
	display: block;
	width: 100%;
	border: none;
	background-color: yellow;
	color: black;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	border: 2px solid black;
	margin: 2px;
  }
  .block:hover {
	background-color: rgb(158, 162, 127);
	color: black;
  }
